In [3]:
import pandas as pd
import numpy as np
import random

In [4]:
# إنشاء بيانات وهمية لأسعار الشقق في مدينة الرياض_السعودية

# تحديد نطاقات أسعار المتر لكل منطقة
price_ranges = {
    'South': (800, 1500),
    'West': (2000, 4000),
    'East': (3000, 5000),
    'North': (7000, 12000),
    'Central':(1000,2000)
}

# بيانات ثابتة لعدد من الأحياء
neighborhoods = {
    'South': ['Al-Shifa', 'Al-Aziziyah', 'Badr','Al-Dar Al-Baida','Al-Mansourah','Al-Fawaz','Al-Marwah','Al-Difa','Al-Shaalan','Al-Khalidiyah','Al-Ha’ir'],
    'West': ['Dhahret Laban', 'Al-Suwaidi', 'Ad-Diriyah','Al-Suwaidi Al-Gharbi (Western Suwaidi)','Al-Oraija','Al-Oraija Al-Gharbi (Western Oraija)','Shubra','Al-Badiyah','Sultanah','Al-Huda','Namar','Tuwaiq','Al-Mousa','Dhahiyat Laban (Laban Suburb)'],
    'East': ['Al-Rawdah', 'Al-Naseem Al-Gharbi (Western Naseem)', 'Al-Naseem Al-Sharqi (Eastern Naseem)','Al-Sulay','Al-Quds','Al-Hamra','Granada (Ghernata)','Al-Nahda','Al-Jazirah','Ishbiliyah','Al-Rayan','Al-Ruwad','Al-Khaleej','Al-Munsiyah','Qurtubah','Al-Manar','Al-Rimal','Al-Yarmouk','Al-Shuhada'],
    'North': ['Al-Aqiq','Al-Malqa','Al-Nakheel','Al-Nakheel Al-Gharbi (Western Nakheel)','Al-Nakheel Al-Sharqi (Eastern Nakheel)','Al-Sahafa','Hittin','Al-Yasmeen','Al-Qirawan','Al-Rabi','Al-Nada','Al-Wadi','Al-Ghadeer','Al-Aarid','Al-Falah','Al-Jameah (University District)','Al-Izdihar','Al-Maseef'],
    'Central':['Al-Malaz','Al-Olaya','Al-Sulaimaniya','Al-Murabba','Al-Dhobat','Al-Maather','Al-Wurud','Al-Murqab','Al-Morouj','Al-Fakheriyah','Al-Batha','Al-Yamamah','Al-Jaradiyah']
}

# إنشاء بيانات وهمية
data = []
for _ in range(10000):  # توليد 10000 صف من البيانات
    city = 'Riyadh'

    # اختيار المنطقة عشوائيًا
    region = random.choice(list(price_ranges.keys()))

    # اختيار الحي عشوائيًا بناءً على المنطقة
    neighborhood = random.choice(neighborhoods[region])

    # توليد المساحة بشكل عشوائي (من 89 م² إلى 284 م²)
    area = random.randint(89, 284)

    # توليد عدد غرف النوم بشكل عشوائي (من 1 إلى 4 غرف)
    bedrooms = random.randint(1, 4)

    # توليد عدد دورات المياه بشكل عشوائي (من 1 إلى 4 دورات)
    bathrooms = random.randint(1, 4)

    # توليد رقم الطابق بشكل عشوائي (من 1 إلى 5 طوابق)
    floor_number = random.randint(1, 5)

    # توليد عمر العقار بشكل عشوائي (من 1 إلى 10 سنة)
    property_age = random.randint(1, 10)

    # توليد سعر المتر عشوائيًا داخل النطاق الخاص بالمنطقة
    min_price, max_price = price_ranges[region]
    price_per_sqm = random.uniform(min_price, max_price)

    # حساب السعر النهائي
    selling_price = round(area * price_per_sqm, 2)

    #Parking Availability – هل يوجد موقف سيارة؟ (Yes/No)
    parking_availability = random.choice(['Yes', 'No'])

    #Elevator – مهم للعمائر متعددة الطوابق (Yes/No)
    Elevator = random.choice(['Yes', 'No'])

    #Furnished – مفروش أو غير مفروش
    Furnished = random.choice(['Yes', 'No'])

    #Listing Type – للبيع / للإيجار
    Listing_Type = 'Sale'

    #Property Type
    Property_Type = 'apartment'

    # إضافة الصف إلى البيانات
    data.append([city, region, neighborhood,Property_Type, area, bedrooms, bathrooms, floor_number,Elevator, property_age,Furnished,Listing_Type, selling_price])

# تحويل البيانات إلى DataFrame
columns = ['City', 'Region', 'Neighborhood','Property Type', 'Area (sqm)', 'Bedrooms', 'Bathrooms', 'Floor Number','Elevator', 'Property Age (years)','Furnished','Listing Type', 'Selling Price (SAR)']
df = pd.DataFrame(data, columns=columns)



# عرض أول 5 صفوف من البيانات
print(df.head())

     City Region                          Neighborhood Property Type  \
0  Riyadh   West                                Shubra     apartment
1  Riyadh   West                             Al-Oraija     apartment
2  Riyadh   East                              Al-Sulay     apartment
3  Riyadh  North                            Al-Yasmeen     apartment
4  Riyadh   West  Al-Oraija Al-Gharbi (Western Oraija)     apartment

   Area (sqm)  Bedrooms  Bathrooms  Floor Number Elevator  \
0         138         4          4             4      Yes
1         274         4          2             2      Yes
2         185         1          2             3       No
3         272         4          2             3       No
4         244         2          3             5      Yes

   Property Age (years) Furnished Listing Type  Selling Price (SAR)
0                     8       Yes         Sale            459219.35
1                     8       Yes         Sale            810905.38
2                     9       Yes         Sale            797967.69
3                     6        No         Sale           2245339.91
4                     2        No         Sale            827890.53

In [5]:
# حفظ البيانات إلى ملف CSV
df.to_csv('riyadh_apartments_data.csv', index=False)