In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#إنشاء بيانات وهمية لمحل الأحذية

#ملف الفروع والمواقع (branches.csv)

# إنشاء branch_id (معرّف الفرع)
branch = [f"{i}" for i in range(1, 4)]

#branch_name (اسم الفرع - مثل "فرع الرياض")
branch_name =["Riyadh branch","Jeddah branch","Khobar branch"]

#city (المدينة - الرياض، جدة، الخبر)
city =["Riyadh","Jeddah","Khobar"]

#location (العنوان التفصيلي للفرع)
location =["Exit 9، طريق الامام سعود بن عبدالعزيز بن محمد الفرعي، المغرزات، الرياض 12483","طريق الملك عبدالعزيز،، الشاطئ، جدة 21146","حي, EKJA8267, 2048 شارع فراس بن النضر، العليا، 8267, الخبر 34445"]

#manager_name (اسم مدير الفرع)
manager_name =["Hala","Hessah","Maha"]

# توليد البيانات
branch_data = pd.DataFrame({
    'branch_id': branch,
    'branch_name': branch_name,
    'city': city,
    'location': location,
    'manager_name': manager_name
})

# إنشاء DataFrame مبدئي
df_branch_data = pd.DataFrame(branch_data)

# عرض أول 5 صفوف للتحقق
print(df_branch_data.head())

# حفظ البيانات
df_branch_data.to_csv(r"/branches.csv", index=False)

  branch_id    branch_name    city  \
0         1  Riyadh branch  Riyadh
1         2  Jeddah branch  Jeddah
2         3  Khobar branch  Khobar

                                            location manager_name
0  Exit 9، طريق الامام سعود بن عبدالعزيز بن محمد ...         Hala
1           طريق الملك عبدالعزيز،، الشاطئ، جدة 21146       Hessah
2  حي, EKJA8267, 2048 شارع فراس بن النضر، العليا،...         Maha

In [ ]:
import random

def generate_shoe_id(category, existing_ids):
    category_codes = {
        "Heels": "HE",
        "Sandals": "SA",
        "Sneakers": "SN",
        "Ballerina": "BA",
        "Boots": "BO",
        "Formal": "FO",
        "Casual": "CA"
    }

    prefix = category_codes.get(category, "XX")  # Default "XX" if category not found
    while True:
        unique_number = random.randint(100, 999)
        shoe_id = f"{prefix}{unique_number}"
        if shoe_id not in existing_ids:
            existing_ids.add(shoe_id)
            return shoe_id

# تعريف القيم العشوائية الممكنة
colors = ["Black", "White", "Red", "Blue", "Green", "Gray", "Brown"]
sizes = list(range(36, 41))
price_dict = {
    "Heels": 250, "Sandals": 150, "Sneakers": 180,
    "Ballerina": 120, "Boots": 300, "Formal": 230, "Casual": 190
}

# تخزين البيانات في قوائم
shoe_ids = []
categories = []
shoe_colors = []
shoe_sizes = []
shoe_prices = []

existing_ids = set()

# إنشاء البيانات لـ 365 منتج
for _ in range(365):
    category = random.choice(list(price_dict.keys()))  # اختيار فئة عشوائية
    shoe_id = generate_shoe_id(category, existing_ids)

    shoe_ids.append(shoe_id)
    categories.append(category)
    shoe_colors.append(random.choice(colors))
    shoe_sizes.append(random.choice(sizes))
    shoe_prices.append(price_dict[category])  # السعر بناءً على الفئة

# إنشاء DataFrame
shoes_data = pd.DataFrame({
    "shoe_id": shoe_ids,
    "category": categories,
    "color": shoe_colors,
    "size": shoe_sizes,
    "price": shoe_prices
})

# عرض أول 5 صفوف للتحقق
print(shoes_data.head())

  shoe_id   category  color  size  price
0   SN935   Sneakers  Green    40    180
1   FO988     Formal   Blue    39    230
2   SN483   Sneakers  Black    36    180
3   CA591     Casual   Blue    37    190
4   BA771  Ballerina  Green    39    120

In [ ]:
# تصدير البيانات إلى CSV
shoes_data.to_csv("shoes.csv", index=False)

In [ ]:

# ... (previous code to generate shoe_ids and other data) ...

#ملف المخزون (inventory.csv)

#quantity_in_stock (الكمية المتوفرة حاليًا)
quantity_in_stock = [random.randint(0,200 ) for _ in range(365*3)] # Generate quantity for each shoe in each branch

#reorder_level (حد إعادة الطلب - لتنبيه الفروع عند انخفاض الكمية)
reorder_level = [70] * (365*3) # Repeat reorder level for each shoe in each branch

#Create branch_ids and shoe_ids list for all combinations
branch_ids = []
shoe_ids_repeated = []
for branch_id in branch:
    for shoe_id in shoe_ids:
        branch_ids.append(branch_id)
        shoe_ids_repeated.append(shoe_id)

# إنشاء DataFrame
inventory_data = pd.DataFrame({
    'branch_id': branch_ids,
    "shoe_id": shoe_ids_repeated,
    "quantity_in_stock": quantity_in_stock,
    "reorder_level": reorder_level
})

# عرض أول 5 صفوف للتحقق
print(inventory_data.head())

# حفظ البيانات
inventory_data.to_csv(r"/inventory.csv", index=False)

  branch_id shoe_id  quantity_in_stock  reorder_level
0         1   SN935                180             70
1         1   FO988                153             70
2         1   SN483                 99             70
3         1   CA591                167             70
4         1   BA771                 71             70

In [ ]:
# حفظ البيانات
inventory_data.to_csv(r"/inventory.csv", index=False)

In [25]:
# ملف المبيعات (sales.csv)
#يسجل كل عملية بيع تمت خلال العام 2024 لكل الفروع.

import random
from datetime import datetime, timedelta

#sale_id (رقم الفاتورة - فريد لكل عملية بيع)
# توليد رقم فاتورة عشوائي مكون من 6 أرقام


#date (تاريخ البيع - بصيغة YYYY-MM-DD)
# إعداد المعلمات
start_date = datetime(2024, 1, 1)  # بداية الفترة
end_date = datetime(2024, 12, 31)  # نهاية الفترة
num_sales = 10000  # عدد المبيعات العشوائية

#Preparing data for sales DataFrame
sales_data_list = []
for _ in range(num_sales):
    # توليد رقم فاتورة عشوائي فريد لكل عملية بيع
    sale_id = random.randint(100000, 999999)

    # اختيار فرع عشوائي
    branch_id = random.choice(branch)

    # اختيار حذاء عشوائي
    shoe_id = random.choice(shoe_ids)

    # توليد تاريخ عشوائي داخل السنة
    sale_date = start_date + timedelta(days=np.random.randint(0, (end_date - start_date).days + 1))

    # توليد الكمية المباعة بشكل عشوائي (بين 1 و 5)
    quantity_sold = np.random.randint(1, 5)

    #total_price (إجمالي السعر)
    total_price = quantity_sold * price_dict[shoes_data[shoes_data['shoe_id'] == shoe_id]['category'].values[0]]

    # إضافة البيانات إلى القائمة
    sales_data_list.append([sale_id, branch_id, shoe_id, sale_date, quantity_sold,total_price])

# إنشاء DataFrame من القائمة
df_sales = pd.DataFrame(sales_data_list, columns=["sale_id", "branch_id", "shoe_id", "sale_date", "َquantity_sold","total_price"])

# عرض أول 10 صفوف
print(df_sales.head(10))

   sale_id branch_id shoe_id  sale_date  َquantity_sold  total_price
0   965600         1   SA819 2024-01-29               3          450
1   812647         3   FO622 2024-11-10               2          460
2   919003         3   SA627 2024-08-05               3          450
3   873105         2   BO381 2024-10-05               1          300
4   701505         2   SN401 2024-02-04               3          540
5   766754         2   HE320 2024-03-15               1          250
6   982264         2   HE178 2024-08-29               2          500
7   285665         2   HE888 2024-07-28               2          500
8   178486         3   BA434 2024-08-08               4          480
9   714934         1   SN964 2024-01-18               4          720

In [26]:
# حفظ البيانات
df_sales.to_csv(r"/sales.csv", index=False)

In [ ]:
# ملف أهداف المبيعات (sales_targets.csv)

#branch_id (معرّف الفرع)
branch_id = (branch)

#month (الشهر - يناير، فبراير ... ديسمبر)
months = ["January", "February", "March", "April", "May", "June",
          "July", "August", "September", "October", "November", "December"]

# إنشاء قائمة لتخزين البيانات
sales_targets = []

# توليد الأهداف الشهرية لكل فرع
for branch_id in branch:
    for month in months:
        sales_target = np.random.randint(50000, 150000)  # هدف الإيرادات (بين 50 ألف و 150 ألف)
        units_target = np.random.randint(500, 2000)  # هدف عدد الوحدات المباعة (بين 500 و 2000)

        sales_targets.append([branch_id, month, sales_target, units_target])

# إنشاء DataFrame
df_sales_targets = pd.DataFrame(sales_targets, columns=["branch_id", "month", "sales_target", "units_target"])

# عرض أول 10 صفوف
print(df_sales_targets.head(40))

   branch_id      month  sales_target  units_target
0          1    January         87989           878
1          1   February        114766           677
2          1      March        129994          1903
3          1      April         98316          1343
4          1        May        148833          1407
5          1       June         55264          1442
6          1       July        100365          1574
7          1     August         84405           839
8          1  September        118058          1661
9          1    October        105750          1963
10         1   November         75731          1430
11         1   December        131437          1184
12         2    January        145690          1272
13         2   February         60753          1335
14         2      March        109323           932
15         2      April        130658          1332
16         2        May        123635           967
17         2       June         75569          1259
18         2       July        139927          1787
19         2     August        140524          1475
20         2  September         51643          1530
21         2    October         56765          1196
22         2   November         88938          1142
23         2   December        105677          1970
24         3    January        149409          1943
25         3   February        110751          1376
26         3      March        141613          1638
27         3      April        140477           601
28         3        May         89047          1710
29         3       June        103330           898
30         3       July        137700           832
31         3     August        131615           973
32         3  September        118432           903
33         3    October         61349          1969
34         3   November        121219          1499
35         3   December        114472          1503

In [ ]:
# حفظ البيانات إلى ملف CSV
df_sales_targets.to_csv("sales_targets.csv", index=False,encoding="utf-8-sig")